SEG3102/Labs/CalculatorWS/WSDL.xml


<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.calculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.calculator/" name="CalculatorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.calculator/" schemaLocation="http://localhost:8080/CalculatorWS/CalculatorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<portType name="CalculatorWebService">
<operation name="add">
<input wsam:Action="http://ws.calculator/CalculatorWebService/addRequest" message="tns:add"/>
<output wsam:Action="http://ws.calculator/CalculatorWebService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://ws.calculator/CalculatorWebService/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://ws.calculator/CalculatorWebService/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://ws.calculator/CalculatorWebService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://ws.calculator/CalculatorWebService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://ws.calculator/CalculatorWebService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://ws.calculator/CalculatorWebService/divideResponse" message="tns:divideResponse"/>
</operation>
</portType>
<binding name="CalculatorWebServicePortBinding" type="tns:CalculatorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWebService">
<port name="CalculatorWebServicePort" binding="tns:CalculatorWebServicePortBinding">
<soap:address location="http://localhost:8080/CalculatorWS/CalculatorWebService"/>
</port>
</service>
</definitions>